.container-fluid{
    background-color: #4e555a;
    color:white;
    padding: 15px 0px;
    display: flex;
    margin: 0px;
    align-items: center;
    font-family: poppins;
    
}
.shipping{
    margin: 0;
}
.list-account ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
    font-size: medium
}
.list-account ul li{
    border-left: 1px white;
}
.list-account ul li a{
    padding: 15px;
    color: white;
    margin: 0px;
    text-decoration: none;
    
}

.links ul
{
display: flex;
list-style: none;
align-items: center;
justify-content: flex-end;
margin: 0px;
}
.links ul li
{
    border-left: 1px white;
}
.links ul li a{
    padding: 15px;
    color: black;
    margin: 0px;
    text-decoration: none;
    font-size: 15px;
}

.mainpng
{
    background-image: url(Main1.png);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 90%;

}
.canada{
    font-size: 18px;
}
.pm{
    height: 100px;
    width: 200px;
    
}
h1
{
background: linear-gradient(to right,rgb(8, 141, 8),rgb(180, 235, 70),rgb(193, 91, 19));
    -webkit-background-clip: text;
    color: transparent;
    
}
.button{
  
    border-radius: 20px;
    background: linear-gradient(to right,rgb(8, 141, 8),rgb(180, 235, 70),rgb(193, 91, 19));
    color: azure;
    font-size: 18px;
    
}

.help
{
    font-size: 40px;
}
.text{
    font-size: 18px;
}

.box 
{

    width:100%;
    height: 98%;
    border-width: 3px;
    padding-left: 10px;
    border-color:#CCD1D1; 
    border-style:solid;
    border-radius: 4px;
}


.btn{
    background-image:linear-gradient(to right,green,olivedrab,saddlebrown);
    color:white;
    font-weight: bold;
    font-size: 8px;
    font-family:sans-serif;
    text-align: center;
    border-radius: 40px;
}


.checked 
{
    background: linear-gradient(to right,green,saddlebrown);
    -webkit-background-clip: text;
    color: transparent;
}

section.review
{
    background:url(./21.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}


section.find
{
    background:url(./22.png);
    background-size: cover;
    width: 100%;
    height: 300px; 
    background-position: center;
        
}
section.learn{
    background:#CCD1D1;
    font-family: sans-serif;
}


.heading-1
{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 25px;
    font-size: 50px;
    background: linear-gradient(to right,green,olive,saddlebrown);
    -webkit-background-clip: text;
    color: transparent;
    position:relative;
}


.heading-1:before 
{
    content: "";
    display: block;
    border-top: solid 2px #bebebe;
    width: 28%;
    height: 2px;
    position: absolute;
    top: 50%;
}

.heading-1:after 
{
    content:" ";
    height: 2px;
    width: 25%;
    border-top: solid 2px #bebebe;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 25px;
}

.heading-1-span 
{
    background:white;
    padding: 50px 50px;
    position: relative;
    z-index: 1;
}

section.subscribe
{
    background:url(./23.png);
    background-size: cover;
    width: 100%;
    height: 500px; 
    background-position: center;
        
}

section.background
{
    background: linear-gradient(to right,green,olive,saddlebrown);
    height: 400px;
}

.cards {
    max-width:1200px;
    text-align: center;
  
}

.float-my-children > * 
{
    float:left;
    margin-right:5px;
}

.clearfix 
{
    *zoom:1
}

.clearfix:before,
.clearfix:after 
{
    content: " ";
    display: table;
}

.clearfix:after 
{
    clear: both;
}

.form{
    background : url(16.png);
    height: 500px;
    width: 80%;
    
    
}

.circle {
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 27px;
    
    
}

.circle1 {
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 27px;
    background-image: url(phone.png);
}


.circle2 {
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 27px;
    background-image:url(123.png);
    background-attachment: fixed;
  
}
.form1{
    background-color: rgb(224, 236, 236);
    border-radius: 30px;
    border: 1px solid #ccc;
    height: 500px;
    width: 90%;
}

.textbox
{
    width: 100%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 3px solid #ccc; 
    border-radius: 40px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
  }

  input[type=text1], select, textarea {
    width: 400px; 
    padding: 12px; 
    border: 3px solid #ccc;  
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    margin-left: 20px;
  }

  .lgone{
    width:500px;
    height: 70%;
    border-width: 3px;
    padding-left: 10px;
    border-color:#CCD1D1; 
    border-style:solid;
    border-radius: 4px;
   }

   .lgone1{
    width:500px;
    height: 100%;
    border-width: 3px;
    padding-left: 10px;
    border-color:#CCD1D1; 
    border-style:solid;
    border-radius: 4px;
   }

   .lgone2{
    width:100%;
    height: 100%;
    border-width: 3px;
    padding-left: 10px;
    border-color:#CCD1D1; 
    border-style:solid;
    border-radius: 4px;
   }

   .lgone1 h4{
    background: linear-gradient(to right,green,olive,saddlebrown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }

   .lgone2 h4{
    background: linear-gradient(to right,green,olive,saddlebrown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }



   /* The container */
.Radiob{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 20px;
  }
  
  /* Hide the browser's default radio button */
  .Radiob input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .Radiob:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .Radiob input:checked ~ .checkmark {
    background-color: #3d6820;###
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .Radiob input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .Radiob .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }



  .fourbox button:hover{
    background: linear-gradient(to right,green,olive,yellow);
  }